<div class="chat-message mb-2"
     data-user-id="<%= message.user_id %>">
  <div class="px-3 py-2 rounded-3 bg-light text-dark" style="max-width: 70%;">
    <div><%= message.body %></div>
  </div>
</div>
